.env
node_modules
*yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

apps/**/.yarn/*
integration-tests/**/.yarn/*


.DS_Store

.idea
.turbo
build/**
dist/**
**/dist
**/stats
.favorites.json
.vscode

**/tsconfig.tsbuildinfo

# Cache File
/packages/**/.cache

.cursorignore
